@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --bg-black-900 : #f2f2fc;
    --bg-black-200 : #d2ced3;
    --bg-black-50 : #e8dfec;
    --text-black-900 : #302e4d;
    --text-black-700 : #504e70;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}

.main-content{
    padding-left: 270px;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before,
.section-title h2::after{
    content: '';
    height: 4px;
    background-color: #ec1839;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::before{
    width: 50px;
}

.section-title h2::after{
    width: 25px;
    margin-top: 8px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #e8dfec;
    background: #ec1839;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3 ease;
    border: none;
}

.btn:hover{
    transform: translateY(-5px);
    background: var(--text-black-900);
    color: #c64141;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.aside{
    width: 270px;
    background-color: var(--bg-black-200);
    position: fixed;
    height: 100%;
    z-index: 10;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 7px;
    position: relative;
}

.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    background: linear-gradient(90deg, #FF4500, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #ec1839;
    border-left: 5px solid #ec1839;
    bottom: 0;
    left: 0;
}

.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #ec1839;
    border-right: 5px solid #ec1839;
    top: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-200);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: #ec1839;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before,
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: #ec1839;
    position: absolute;
    left: 0;
}

.aside .nav-toggler span::before{
    top: -6px;
}

.aside .nav-toggler span::after{
    top: 6px;
}

.aside .nav{
    margin-top: 50px;
}

.aside .nav li{
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: 1px solid var(--bg-black-50);
}

.aside .nav li a.active,
.aside .nav li a:active{
    color: #ec1839;
}

.aside .nav li a i{
    margin-right: 15px;
}

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    flex-wrap: wrap;
}

.home .home-info{
    flex: 1;
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #cf3f54;
}

h3.profession{
    font-size: 30px;
    margin: 15px 0;
}

.typing{
    color: #2f3ab2;
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home-info .share{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home-info .share p{
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
    margin-bottom: 10px;
}

.home-info .share .social{
    display: flex;
    flex-wrap: wrap;
}

.home-info .share .social i{
    height: 40px;
    width: 40px;
    background: #83abc5;
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.home-info .share .social i:hover{
    transform: translate(-5px);
}

.home .home-img{
    flex: 1;
    text-align: center;
    position: relative;
}

.home .home-img img{
    height: 400px;
    margin: auto;
    border-radius: 5px;
}

/* Media Queries for Responsiveness */

@media only screen and (max-width: 992px){
    .main-content {
        padding-left: 0;
    }

    .aside {
        position: relative;
        width: 100%;
        height: auto;
    }

    .home {
        flex-direction: column;
    }

    .home .home-img img {
        height: 300px;
    }

    .home-info p {
        font-size: 18px;
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 768px) {
    .main-content {
        padding-left: 0;
    }

    .aside {
        display: none;
    }

    .aside .nav-toggler {
        display: flex;
        left: 10px;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home .home-info {
        text-align: center;
    }

    .home-info p {
        font-size: 16px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 30px;
    }

    h3.hello {
        font-size: 24px;
    }

    h3.profession {
        font-size: 24px;
    }

    .home .home-img img {
        height: 250px;
    }
}

@media only screen and (max-width: 576px) {
    .home-info p {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 25px;
    }

    h3.hello {
        font-size: 22px;
    }

    h3.profession {
        font-size: 20px;
    }

    .home .home-img img {
        height: 200px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title h2::before {
        width: 30px;
    }

    .section-title h2::after {
        width: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .home-info p {
        font-size: 12px;
    }

    .btn {
        font-size: 10px;
        padding: 6px 20px;
    }

    h3.hello {
        font-size: 20px;
    }

    h3.profession {
        font-size: 18px;
    }

    .home .home-img img {
        height: 150px;
    }

    .section-title h2 {
        font-size: 28px;
    }

    .section-title h2::before {
        width: 25px;
    }

    .section-title h2::after {
        width: 15px;
    }
}