Make it respo@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --bg-black-900 : #f2f2fc;
    --bg-black-200 : #d2ced3;
    --bg-black-50 : #e8dfec;
    --text-black-900 : #302e4d;
    --text-black-700 : #504e70;
}

body{
    margin : 0;
    padding : 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'poppins' sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}

.main-content{
    padding-left: 270px;

}

.padd-15{
    padding-left : 15px;
    padding-right : 15px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: #ec1839;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: #ec1839;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative; 
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #e8dfec;
    background: #ec1839;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3 ease;
    border: none;
}

.btn:hover{
        transform: translateY(-5px);
        background: var(--text-black-900); 
        color: #c64141;
        font-weight: bold; 
        transition: all 0.3s ease-in-out; 
}

.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.aside{
    width: 270px;
    background-color: var(--bg-black-200);
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 7px;
    position: relative;
}

.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    background: linear-gradient(90deg, #FF4500, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #ec1839;
    border-left: 5px solid #ec1839;
    bottom: 0;
    left: 0;
}

.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #ec1839;
    border-right: 5px solid #ec1839;
    top: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-200);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: #ec1839;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: #ec1839;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: #ec1839;
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav{
    margin-top: 50px;
}

.aside .nav li{
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: 1px solid var(--bg-black-50);
}

.aside .nav li a.active,
.aside .nav li a:active{
    color: #ec1839;
}

.aside .nav li a i{
    margin-right: 15px;
}

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #cf3f54;
}

h3.profession{
    font-size: 30px;
    margin: 15px 0;
}

.typing{
    color: #2f3ab2;
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home-info .share{
    position: absolute;
    top: 25rem;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.home-info .share p{
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
    margin-bottom: 10px;
}

.home-info .share .social{
    display: flex;
    flex-wrap: wrap; 
}

.home-info .share .social i{
    height: 40px; 
    width: 40px; 
    background: #83abc5;
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 30px; 
    margin-right: 20px; 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.home-info .share .social i:hover{
    transform: translate(-5px);
}

.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid #ec1839;
    border-left: 10px solid #ec1839;
    left: -20px;
    top: -50px;
}

.home .home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid #ec1839;
    border-right: 10px solid #ec1839;
    right: -20px;
    bottom: -40px;
}

.home .home-img img{
    height: 400px;
    margin: auto;
    border-radius: 5px;
}

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span{
    color: #ec1839;
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info{
    flex: 0 0 60%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p{
    font-weight: 550;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-bottom: 4px;
    display: inline-block;
}

.about .about-content .personal-info .main-btn{
    display: inline-block;
    margin-top:  1rem;
    padding: .5rem 2rem;
    background: var(--bg-black-700);
    color: #fff;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
}

.about .about-content .personal-info .main-btn:hover{
    background: var(--bg-black-700);
    letter-spacing: .1rem;
}

.about .about-content .personal-info .main-btn .btn-one{
    display: inline-block;
    padding: 5px 25px;
    background: #c671c5;
    color: var(--text-color-900);
    border: 2px solid var(--text-black-700);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
}

.about .about-content .personal-info .main-btn .btn-one:hover{
   transform: translateY(-5px);
   background: transparent;
   color: #f700ff;
   transition: all 0.3s ease-in-out;
}

.about .about-content .personal-info .main-btn .btn-two{
    display: inline-block;
    padding: 5px 25px;
    background: #5b81ba;
    color: var(--text-color-900);
    border: 2px solid var(--text-black-700);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;

}

.about .about-content .personal-info .main-btn .btn-two:hover{
    transform: translateY(-5px);
   background: transparent;
   color: #001aff;
   transition: all 0.3s ease-in-out;
}

.about .about-content .skills{
    flex: 0 0 40%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 500;
    font-size: 15px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #ec1839;
}

.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education, .about .about-content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.timeline-title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline{
    background-color: var(--bg-black-200);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #ec1839;
}

.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ec1839;
}

.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

.service-container{
    padding-bottom: 40px;
}

.service .service-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;

}

.service .service-item .service-item-inner{
    background-color: var(--bg-black-200);
    border: var(--bg-black-50);
    border-radius: 15px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px rgba(14, 14, 19, 0.15);
}

.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa,
.service .service-item .service-item-inner .icon .bx{
    font-size: 40px;
    line-height: 60px;
    color: #ec1839;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon{
    background: #ec1839;
}

.service .service-item .service-item-inner:hover .icon .fa,
.service .service-item .service-item-inner:hover .icon .bx{
    font-size: 25px;
    color: #ffffff;
}

.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

.portfolio .container{
    padding-bottom: 40px;
}

.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2{
    color: var(--text-black-900);
    font-weight: 500;
}

.portfolio .portfolio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner{
    border: 5px solid var(--bg-black-200);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img{
    width: 100%;
    height: 200px;
    display: block;
}

.contact-title{
    color: #ec1839;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    margin-bottom: 80px;
}

.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon .fa,
.contact .contact-info-item .icon .bx{
    font-size: 30px;
    color: #ec1839;
}

.contact .contact-info-item h4{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 20px 0 10px;
}

.contact .contact-info-item p{
    font-size: 20px;
    line-height: 30px;
    color: var(--text-black-700);
    font-weight: 500;
}

footer{
    background-color: #fff;
    margin-top: 10px;
}

.footer-container{
    width: 100%;
    padding: 40x 20px 10px;
}

.footer-bottom{
    background-color: var(--bg-black-200);
    padding: 20px;
    text-align: center;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width:1199px){
    .aside{
        left: -270px;
    }
    .main-content{
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width:911px){
    .portfolio .portfolio-item,
    .service .service-item,
    .contact .contact-info-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info,
    .home .home-info .share .social
    .home .home-info .share .social p{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img{
        display: none;
    }
}

@media (max-width:767px){
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
Make it responsive fully